				.chart {
				  padding: 2rem 1rem 1rem;
				  width: 100%;
				  height: 100%;
				  position: relative;
				  color: #1BD067;
				  font-size: 80%;
				}
				.chart span {
				  display: block;
				  position: absolute;
				  bottom: 3rem;
				  left: 2rem;
				  height: 0;
				  border-top: 3px solid;
				  -webkit-transform-origin: left center;
				  transform-origin: left center;
				}
				.chart span > span {
				  left: 100%; bottom: 0;
				}
				[data-valor='25'] {width: 15%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
				[data-valor='8'] {width: 75%; -webkit-transform: rotate(65deg); transform: rotate(65deg);}
				[data-valor='13'] {width: 139%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
				[data-valor='5'] {width: 55%; -webkit-transform: rotate(50deg); transform: rotate(50deg);}
				[data-valor='23'] {width: 160%; -webkit-transform: rotate(-70deg); transform: rotate(-70deg);}
				[data-valor='12'] {width: 180%; -webkit-transform: rotate(75deg); transform: rotate(75deg);}
				[data-valor='15'] {width: 50%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}

				[data-valor]:before {
				  content: '';
				  position: absolute;
				  display: block;
				  right: -4px;
				  bottom: -3px;
				  padding: 4px;
				  background: #1BD067;
				  border-radius: 50%;
				}
				
				[class^='eje-'] {
				  position: absolute;
				  left: 0;
				  bottom: 0rem;
				  width: 100%;
				  padding: 1rem 1rem 0 2rem;
				  height: 80%;
				}
				.eje-x {
				  height: 2.5rem;
				}
				.eje-y li {
				  height: 27%;
				  border-top: 1px solid #777;
				  list-style: none;
				}
				[data-ejeY]:before {
				  content: attr(data-ejeY);
				  display: inline-block;
				  width: 2rem;
				  text-align: right;
				  line-height: 0;
				  position: relative;
				  left: -2.5rem;
				  top: -.5rem;
				} 
				.eje-x li {
				  width: 16%;
				  float: left;
				  text-align: center;
				  list-style: none;
				}

				.background {
					position: relative;
				    background-color: #707070;
				    width: 96%;
				    height: 75%;
				    opacity: 0.05;
				    margin-left: 14px;
				    margin-top: 18px;
				}

				@media only screen and (min-width: 768px) {
					.background {
				    width: 98%;
				    height: 74%;
				    margin-top: 32px;
				}

					}