body {
	background-color: #272A4B;
	display: grid;
	grid-template-areas: 
		"speed"
		"water"
		"fuel"
		"distance";
	
	grid-row-gap: 15px;
	justify-content: center;
}

.speed,.water,.distance,.test,.fuel {
		width: 360px;
		height: 250px;
		background-color: #101331;
		
		border-radius: 20px;
}

.speed {
	grid-area: speed;
	margin-top: 60px;
}

.water {
	grid-area: water;
}

.fuel {
	grid-area: fuel;
}

.distance {
	grid-area: distance;
}

body {
  font: normal 16px/1.5 'Roboto', sans-serif;
 
  
}


/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}


/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
  position: relative;
  width: 350px;
  height: 175px;
  overflow: hidden;
}

.chart-skills::before,
.chart-skills::after {
  position: absolute;
}

.chart-skills::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 15px solid #101333;
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

/*.chart-skills::after {
  content: '40.000 km/h';
  left: 57%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-weight: bold;
  color: cadetblue;
}*/

.howmany {
  text-align: center;
  margin-top: -63px;
  font-size: 40px;
  color: #abaacd;
}

.km {
  text-align: center;
  color: #abaacd;
  font-size: 25px;
  margin-top: -19px;
}

.zero, .seven {
  color: #abaacd;
  font-size: 16px;
}

.zero {
  margin-left: 25px;
  margin-top: -43px; 
}

.seven {
  margin-left: 310px;
  margin-top: -41px;
}



.chart-skills li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 15px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-timing-function: linear;
}

.test {
	height: 187.84px;
	margin-top:30px;
	
}

.chart-skills li:nth-child(3) {
  z-index: 4;
  border-color: #AC1927;
  animation-name: rotate-three;
  animation-delay: 0.1s;
  animation-duration: 4s;
}

.chart-skills li:nth-child(4) {
  z-index: 1;
  border-color: #AC1927;
  animation-name: rotate-four;
  animation-delay: 0.1s;
  opacity: 0.32;
  animation-duration: 3s;
}

.chart-skills span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in .4s linear forwards;
}

.chart-skills li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(-21.6deg);
}

.chart-skills li:nth-child(2) span {
  top: 20px;
  left: 10px;
  transform: rotate(-79.2deg);
  animation-delay: .4s;
}

.chart-skills li:nth-child(3) span {
  top: 18px;
  left: 10px;
  transform: rotate(-140.4deg);
  animation-delay: .8s;
}

.chart-skills li:nth-child(4) span {
  top: 10px;
  left: 10px;
  transform: rotate(-180deg);
  animation-delay: 1.2s;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */



@keyframes rotate-three {
  0% {
    transform: rotate(79.2deg);
  }
  100% {
    transform: rotate(140.4deg);
    /**
     * 34% => 61.2deg 
     * 61.2 + 79.2 => 140.4deg
     */
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(140.4deg);
  }
  100% {
    transform: rotate(180deg);
    /**
     * 22% => 39.6deg  
     * 140.4 + 39.6 => 180deg
     */
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
	body {
		grid-template-areas: 
			"speed speed"
			"water fuel"
			"distance distance";
		grid-column-gap: 
	}

	.speed {
		width: 703.46px;
		height: 330.9px;
	}

	.water, .fuel {
		width:346.46px;
		height: 330.9px;
	}

	.distance {
		width:703.46px;
		height: 330.9px;
	}

	.test {
		margin: auto;
		margin-top: 30px;

	}
}

@media screen and (min-width: 1024px) {
	body {
		grid-template-areas: 
			"speed speed water"
			"distance distance fuel";
		grid-column-gap: 15px;
		grid-row-gap: 15px;
		}

	.speed, .water {
		margin-top: 60px;
		}

	}